<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../js/bootstrap-3.3.7-dist/css/bootstrap.css"/>
		<script src="../js/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!-- <div class="container-fluid">
			<p>faaf1</p>
			<p>faaf2</p>
			<p>faaf3</p>
			<p>faaf4</p>
			<p>faaf5</p>
		</div> -->
		<div>
			<table class="table table-hover">
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
				</td>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
				</tr>
			</table>
		</div>
		
	</body>
</html>
